[Desktop Entry]
Name=CoolerThanYou
Comment=Autostart CoolerThanYou System Tray Icon
Icon=cooler-than-you
Exec=sh -c "while true; do env RUST_LOG=info cooler-than-you; sleep 30; done"
Terminal=false
Type=Application
NoDisplay=true
Categories=
