[Desktop Entry]
Name=CoolerThanYou
Comment=CoolerThanYou System Tray Icon
Icon=cooler-than-you
Exec=cooler-than-you
Terminal=false
Type=Application
Categories=
